<configuration>
    <appSettings>
        <add key="owin:AutomaticAppStartup" value="false"/>
        <add key="FilePath" value="AppDomain.CurrentDomain.BaseDirectory" />
    </appSettings>
    <connectionStrings>
	    <add name="connstring" connectionString="Data Source=ho-ICTSpare3\SQLEXPRESS; Initial Catalog=IMS_08012024;Integrated Security=true;"/>
    </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
